.env
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/

# Local files
.env
.DS_Store

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# macOS
._*

# Node/NPM
node_modules/
